@import '../../branding.scss';
@import '../../App.scss';


.Vault__Empty {
    @include font;
    background-color: $lightgrey;
    width: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.Vault__Empty p {
    text-align: center;
    margin-bottom: 60px;
    font-size: 1rem;
}